@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Abril Fatface', cursive;
}

html{
    height:100vh;
   
}

body{
   
    padding:0;
    margin:0;
    background-color: aqua;
    
}
.main{
    height:100vh;
    margin:0;
    display:flex;
    align-items: center;
    justify-content: center;
}

.main-title{
    margin-bottom:1.5em;
}
.labels{
    font-size: 1.3em;
    color:green;
    
}
.clock{
    padding:3em;
    width: 500px;
    height:fit-content;
    

}
.break-span{
    display: flex;
    align-items:center;
    font-size: 1.5em;
}


.timer-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:20%;
    width:100%;
}
#timer{
    display:block;
    padding:1em;
    width:100%;
    margin:1em auto 0 auto;
    
    
}
#timer-label{
    text-align: center;
}
#time-left{

    margin:.2em auto;
    width:50%;
    font-size: 60px;
    text-align: center;
    border: solid chocolate 2px;
}
#controls{
    display:flex;
    justify-content: center;
    font-size: 1.5em;
}
.control-button{
    background-color: transparent;
    border:none;
    
}
.control-button :active{
    opacity:60%;
}


.main-title{
    text-align: center;
}

.controls-container{
    display:flex;
    justify-content: center;
}

.length-control{
    width:max-content;
    margin:0 1em;
    
}
.break-span{
    display:flex;
    justify-content: space-between;
}
.break-span-timer{
    display:flex;
    justify-content: space-evenly;
}